#header{
    background-color: rgb(171, 196, 218);
}

#logo{
    height: 100px;
}

#name{
text-align: center;
}

.flex-hod{
    display: flex;
    width: max-content;
}
#nav{
    margin-top: 20px;
    background-color: rgb(26, 137, 235);
}
#nav button{
    border:none;
    font-size: 20px;
    color: white;
    background-color: inherit;
    margin-right: 50px;
}
#act-btns,#upload,#view,#delete{
    margin-top: 10px;
    padding-right: 20px;
    margin-left:0px;
    
}
#act-btns button{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    background-color:rgba(147, 197, 238, 0.959);
    font-size: large;
    border: none;
    min-width: 80px;
    height: 30px;
}

#upload button,#gen_reports button,#delete button{
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    background-color:rgba(147, 197, 238, 0.959);
    font-size: large;
    border: none;
    min-width: 80px;
    height: 30px;
}
#upload,#gen_reports,#delete{
    display: none;
}
#action,#upload_opts,#assigned,#markAttendance,#ModifyAttendance,#action,#CieReport,#examreport,#iareport,#ciemakeup,#marksreport,#attendshort,
#SeeReport,#marksrep,#attendrep,#detailedrep,#abstractrep{
    margin-top: 10px;
    min-width: 50vw;
    display: none;
}
#actions{
    position: relative;
    left :0px;
}
#action{
    margin-top: 40px;
    margin-left: 100px;
    overflow-y: hidden;
}
button{
    cursor: pointer;
}
#assigned,#markAttendance{
    text-align: center;
}
#action table,#action td,#action th{
    border: 1px solid;
    border-collapse: collapse;
}
#action td{
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 3px;
     padding-top: 3px;
}
.hidescroll::-webkit-scrollbar{
    display: none;
}
#CieReport,#SeeReport,#attendrep,#marksrep,#ciemakeup,#marksreport,#attendshort{
    margin-left: 100px;
    margin-top: 30px;
}
#CieReport table,#CieReport th,#CieReport td,#SeeReport table,#marksrep th,
#marksrep td,#marksrep table,#attendrep th,#attendrep td,#attendrep table,
#attendshort table,#attendshort th,#attendshort td,
#marksreport table,#marksreport td,#marksreport th,
#ciemakeup table,#ciemakeup th,#ciemakeup td{
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid;
    border-collapse: collapse;
}