#header{
    background-color: rgb(171, 196, 218);
}

#logo{
    height: 100px;
}

#name{
text-align: center;
}

.flex-hod{
    display: flex;
    width: max-content;
}
#nav{
    margin-top: 20px;
    background-color: rgb(26, 137, 235);
}
#nav button{
    border:none;
    font-size: 20px;
    color: white;
    background-color: inherit;
    margin-right: 50px;
}
#act-btns,#upload,#view,#delete{
    margin-top: 10px;
    padding-right: 20px;
    margin-left:0px;
    
}
#act-btns button{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    background-color:rgba(147, 197, 238, 0.959);
    font-size: large;
    border: none;
    min-width: 80px;
    height: 30px;
}

#upload button,#gen_reports button,#delete button{
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    background-color:rgba(147, 197, 238, 0.959);
    font-size: large;
    border: none;
    min-width: 80px;
    height: 30px;
}
#upload,#gen_reports,#delete{
    display: none;
}
#action,#upload_opts,#assigned,#markAttendance,#ModifyAttendance{
    margin-top: 10px;
    min-width: 50vw;
    display: none;
}
#actions{
    position: relative;
    left :0px;
}
#action{
    overflow-y: hidden;
}
button{
    cursor: pointer;
}
#assigned,#markAttendance{
    text-align: center;
}